In [1]:
import pandas as pd
import matplotlib

In [2]:
rawData = pd.read_csv("df_open_2023.csv")

In [3]:
rawData

,competitorId,competitorName,firstName,lastName,status,gender,countryOfOriginCode,countryOfOriginName,regionId,regionName,affiliateId,affiliateName,age,height,weight,overallRank,overallScore,genderId,year
0,469656,Jeffrey Adler,Jeffrey,Adler,ACT,M,CA,Canada,35,North America East,18059,CrossFit Wonderland,29,69 in,197 lb,1,107,1,2023
1,300638,Tola Morakinyo,Tola,Morakinyo,ACT,M,US,United States,35,North America East,19593,CrossFit East Nashville,27,72 in,212 lb,2,219,1,2023
2,676693,Colten Mertens,Colten,Mertens,ACT,M,US,United States,34,North America West,1324,CrossFit Kilo,25,64 in,180 lb,3,367,1,2023
3,663689,Tyler Christophel,Tyler,Christophel,ACT,M,US,United States,35,North America East,3220,CrossFit Mayhem,33,70 in,195 lb,4,375,1,2023
4,1031875,Roldan Goldbaum,Roldan,Goldbaum,ACT,M,MX,Mexico,34,North America West,21264,Strong Suit CrossFit,23,170 cm,86 kg,5,526,1,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302226,2105434,Beth Hampson,Beth,Hampson,ACT,F,GB,United Kingdom,29,Europe,None,NaN,34,NaN,NaN,124124,458895,2,2023
302227,2331240,Ellen Anevicius,Ellen,Anevicius,ACT,F,US,United States,34,North America West,11124,CrossFit Raw Appeal,34,NaN,NaN,124124,458895,2,2023
302228,1710035,Tanja Kurtz,Tanja,Kurtz,ACT,F,DE,Germany,29,Europe,None,NaN,54,175 cm,60 kg,124124,458895,6,2023
302229,1946832,Hannah Deutsch,Hannah,Deutsch,ACT,F,US,United States,34,North America West,22011,Koda CrossFit Iron View,34,NaN,NaN,124124,458895,2,2023
302230,2306867,Rabbia Sohail,Rabbia,Sohail,ACT,F,US,United States,35,North America East,4831,CrossFit Sanctuary,34,NaN,NaN,124124,458895,2,2023

In [4]:
trimmedData = rawData.drop(columns=["countryOfOriginName", "countryOfOriginCode", "affiliateId", "affiliateName", "status", "year", "gender"])

In [5]:
trimmedData["heightType"] = trimmedData["height"].str[-2:]
trimmedData["weightType"] = trimmedData["weight"].str[-2:]

trimmedData = trimmedData[(trimmedData["height"].notna()) & (trimmedData["weight"].notna())]
trimmedData = trimmedData.drop_duplicates(subset=["overallRank"])

trimmedData["height"] = trimmedData["height"].str.extract("(\d+)")
trimmedData["weight"] = trimmedData["weight"].str.extract("(\d+)")

trimmedData["height"] = trimmedData.apply(lambda row: int(row.height) if row.heightType == 'in' else round(int(row.height) / 2.52), axis=1)
trimmedData["weight"] = trimmedData.apply(lambda row: int(row.weight) if row.weightType == 'lb' else round(int(row.weight) * 2.2), axis=1)

In [12]:
trimmedData = trimmedData[trimmedData["height"] >= 36]
trimmedData["bmi"] = trimmedData.apply(lambda row: round((row.weight * 703) / (row.height ** 2), 2), axis=1)

In [13]:
maleTrimmedData = trimmedData[trimmedData["genderId"] == 1]

In [14]:
maleTrimmedData = maleTrimmedData.drop(columns=["heightType", "weightType", "competitorName", "firstName", "lastName"])

In [15]:
hrMaleTrimmedData = maleTrimmedData[maleTrimmedData["overallRank"] <= 50000]

In [11]:
hrMaleTrimmedData["bmi"] = hrMaleTrimmedData.apply(lambda row: round((row.weight * 703) / (row.height ** 2), 2), axis=1)

C:\Users\Owner\AppData\Local\Temp\ipykernel_13972\2364601095.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hrMaleTrimmedData["bmi"] = hrMaleTrimmedData.apply(lambda row: round((row.weight * 703) / (row.height ** 2), 2), axis=1)

In [16]:
hrMaleTrimmedData

,competitorId,regionId,regionName,age,height,weight,overallRank,overallScore,genderId,bmi
0,469656,35,North America East,29,69,197,1,107,1,29.09
1,300638,35,North America East,27,72,212,2,219,1,28.75
2,676693,34,North America West,25,64,180,3,367,1,30.89
3,663689,35,North America East,33,70,195,4,375,1,27.98
4,1031875,34,North America West,23,67,189,5,526,1,29.60
...,...,...,...,...,...,...,...,...,...,...
49974,1547056,29,Europe,30,70,156,49975,221426,1,22.38
49977,2498225,34,North America West,27,75,185,49978,221432,1,23.12
49979,1827188,28,Asia,27,69,161,49980,221438,1,23.77
49986,2063653,35,North America East,34,69,174,49987,221473,1,25.69
49990,2138310,29,Europe,34,63,161,49991,221495,1,28.52